html {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
}

#scene-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Card Styling */
#ui-card {
    position: absolute; /* Place card on top of 3D scene */
    top: 21%;
    left: 5%;
    width: 35%;
    height: 70%;
    padding: 20px;
    background-color: rgba(43, 65, 83, 0.6);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above the 3D scene */

    display: flex;

    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.visible {
    opacity: 1 !important;
    pointer-events: auto;
}

#ui-card h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    font-size: 1em;
    color:aliceblue
}

#ui-card p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: aliceblue
}


.skill-list{
    position: absolute;
    list-style: none;
    padding: 0;
    margin:0;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
}
.skill-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid aliceblue;
    border-radius: 5px;*/
    width: 100% !important;
    position: relative;
}
.skill-item::after{
    content: ''; /* Pseudo-element with empty content */
  position: absolute;
  left: 0%;
  right: 0;
  bottom: 0;
  height: 2px; /* Thickness of the line */
  background-color: aliceblue; /* Color of the line */
  transform: scaleX(100%); /* Default state, line is full width */
}
.skill-icon{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-right: 0px;
}
.skill-text {
    font-family: 'Roboto', sans-serif;
    font-size: 48px; 
    color: aliceblue; 
    white-space: nowrap; 
    padding-left: 0px;
    text-overflow: ellipsis;
}



.experience-list{
    position: relative;
    margin-top: -2%;
    padding: 0%;
    width: 100%;
    list-style: none;
}
.experience-item{
    display: flex;
    align-items: left;
    position: relative;
    flex-direction: column;
}
.job-description::after{
    content: ''; /* Pseudo-element with empty content */
  position: absolute;
  left: 0%;
  right: 0;
  bottom: 0;
  height: 2px; /* Thickness of the line */
  background-color: aliceblue; /* Color of the line */
  transform: scaleX(100%); /* Default state, line is full width */
}
.job-place::after{
    content: ''; /* Pseudo-element with empty content */
  position: absolute;
  left: 0%;
  right: 0;
  bottom: 0;
  height: 2px; /* Thickness of the line */
  background-color: aliceblue; /* Color of the line */
  transform: scaleX(100%); /* Default state, line is full width */
}
.job-title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px; 
    color: aliceblue; 
    white-space: nowrap; 
    padding-left: 10px;
    text-overflow: ellipsis;
}
.job-place{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    color: aliceblue; 
    white-space: nowrap; 
    padding-left: 10px;
    text-overflow: ellipsis;
    position: relative;
}
.job-description{
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    color: aliceblue; 
    padding-left: 10px;
    width: 230%;

    position: relative;
}


.about-me{
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    color: aliceblue; 
    padding-left: 10px;
    width: 100%;

    position: absolute;
}


#ui-card button{
    padding: 2% 30%;
    position: relative;
    top: 90%;
    left: 17.5%;

    background-color: transparent; 
    border: none; 
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    cursor: pointer; 
    outline: none; 

    position: absolute;
}
#ui-card button::after{
    content: ''; /* Pseudo-element with empty content */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; /* Align the line to the bottom */
  height: 2px; /* Thickness of the line */
  background-color: aliceblue; /* Color of the line */
  transform: scaleX(1); /* Default state, line is full width */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
#ui-card button:hover::after{
    transform: scaleX(1.2); /* Slightly increase the width on hover */
}
#ui-card button:hover{
    color: rgba(240, 248, 255, 0.699); /* Change text color on hover */
}

#ui-card-header {
    position: absolute; /* Place card on top of 3D scene */
    top: 6%;
    left: 5%;
    width: 35%;
    height: 10%;
    padding: 20px;
    background-color: rgb(43, 65, 83, 0.6);
    z-index: 1000; /* Ensure it appears above the 3D scene */

    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

#ui-card-header h2 {
    font-family: 'Roboto', sans-serif;
    margin: 1% 0 0 0;
    padding-left: 2%;
    font-size: 3rem;
    color: aliceblue;
}
@media (orientation: landscape) and (min-width: 720px) and (max-width: 2400px){
    #ui-card-header h2 {
        font-size: 0.75rem;
    }
}